@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --color-floral-white: #fffcf2;
  --color-timber-wolf: #ccc5b9;
  --color-eerie-black: #252422;
  --color-accent-dark: #1e1d1b;
}

.color-transition {
  transition: color 0.1s ease-in-out;
}
